- form_for @page do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :image
    %br
    = f.text_field :image
  %p
    = f.label :text
    %br
    = f.text_field :text
  %p
    = f.submit "Submit"
